@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(98% 0.01 277);
  --color-secondary: oklch(85% 0.2 95);
  --color-secondary-content: oklch(15% 0.05 95);
  --color-accent: oklch(85% 0.2 95);
  --color-accent-content: oklch(15% 0.05 95);
  --color-base-100: oklch(99% 0.005 270);
  --color-base-200: oklch(95% 0.008 270);
  --color-base-300: oklch(90% 0.01 270);
  --color-base-content: oklch(12% 0.02 270);
  --radius-btn: 9999px;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(98% 0.01 277);
  --color-secondary: oklch(85% 0.2 95);
  --color-secondary-content: oklch(15% 0.05 95);
  --color-accent: oklch(85% 0.2 95);
  --color-accent-content: oklch(15% 0.05 95);
  --color-base-100: oklch(10% 0.01 260);
  --color-base-200: oklch(14% 0.015 260);
  --color-base-300: oklch(18% 0.02 260);
  --color-base-content: oklch(93% 0.01 260);
  --radius-btn: 9999px;
}